CLIENT_URL = "https://cybercodercrm-production.up.railway.app"
JWT_SECRET = "6e32be8fed0e48abdd58bc5182fe99455ff07d09abe9f735"
MAX_UPLOAD_SIZE = 2097152
MONGO_URI = "mongodb+srv://cybercoder_admin:CyberCoderCRM123@cybercodercrm-cluster.yabxzxt.mongodb.net/cybercodercrm?retryWrites=true&w=majority&appName=cybercodercrm-cluster"
NODE_ENV = "production"
PORT = 3000
SUPER_PASSWORD = "Coder123"
SUPER_USERNAME = "superadmin"